@CHARSET "ISO-8859-1";

body {
	font-family: Arial;
	background-color: rgb(0, 0, 0);
	color:white;
}

.actionBtn {
    background-color: #1c54b5;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.actionBtn:hover {
	 background-color: #3d74d2;
}

.formTextField {
	height: 25px;
    border-radius: 5px;
    padding-left: 5px
}

.loginForm {
	background-color: #d5dbe4;
	border-spacing: 15px;
	width:330px;
	margin-top:10px;
}

